$header-bg-color: #293e31;
$menu-text-color: #ffffff;
$click-text-color: #fe8340;
$height-header-mobile: 100px;
$height-main-slider: 100vh;
$height-main-slider-mobile: 70vh;
$color-menu-mobile: #fff;
$color-text-slider: #fcf9f4;
$height-blog-image: 165px;
